<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/HelloTizenWeb" version="1.0.0" viewmodes="maximized">
    <tizen:application id="1qM0wr26Qs.HelloTizenWeb" package="1qM0wr26Qs" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png" height="100" width="100"/>
    <name>2048</name>
    <tizen:profile name="mobile"/>
</widget>
